<!--The content below is only a placeholder and can be replaced.-->
<mat-card>
  <h4 style="text-align: center">
    Extremely Cool Level Editor
  </h4>
  <mat-card-content>
    <div fxLayout="column" fxLayoutAlign="start stretch">
        <div fxFlex style="margin-bottom: 30px">
            <input type="file" (change)="onFileChange($event)"/>
        </div>
        <div *ngFor="let levelObj of levelObjects; let i = index" >
            <div fxLayout="row" fxLayoutAlign="space-around center">
                <mat-form-field fxFlex>
                  <input matInput placeholder="Time" [(ngModel)]="levelObj.time" (input)="sortObjectsByTime()" type="number" />
                </mat-form-field>
                <mat-form-field fxFlex>
                  <input matInput placeholder="X" [(ngModel)]="levelObj.x" type="number"/>
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Y" [(ngModel)]="levelObj.y" type="number"/>
                </mat-form-field>
                <mat-form-field>
                  <mat-select placeholder="Enemy Type" [(value)]="levelObj.type">
                    <mat-option value="Drone">Drone</mat-option>
                    <mat-option value="Vertical">Vertical</mat-option>
                    <mat-option value="Beeline">Beeline</mat-option>
                    <mat-option value="VerticalTrailing">VerticalTrailing</mat-option>
                    <mat-option value="MiniBoss1">MiniBoss1</mat-option>
                    <mat-option value="MiniBoss2">MiniBoss2</mat-option>
                    <mat-option value="MiniBoss3">MiniBoss3</mat-option>
                    <mat-option value="MiniBoss4">MiniBoss4</mat-option>
                    <mat-option value="MiniBoss5">MiniBoss5</mat-option>
                    <mat-option value="MiniBoss6">MiniBoss6</mat-option>
                  </mat-select>
                </mat-form-field>
                <button mat-raised-button color="warn" (click)="delete(i)">DELETE</button>
            </div>
          
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="addObj()">Add</button>
        <button mat-raised-button color="primary" (click)="export()">Export</button>
      </mat-card-actions>
</mat-card>
